@import url('https://fonts.googleapis.com/css?family=Cardo|Chelsea+Market|Poppins:ital,wght@1,800|ByoRhyme|Abril+Fatface|Cairo|Concert+One|Fjalla+One|Source+Sans+Pro|Roboto|Hind|Anton|Josefin+Sans|Crimson+Text|Sue+Ellen+Francisco&display=swap');

#card-header{
	font-family: 'Chelsea Market', cursive;
	color: #7dcd94;
}

.modal-paragraph{
	line-height: 200%; 
}

#bio-footer{
	background-color: #434310;
	color: white;
}

#button-modal{
	background-color: #6b7d3f;
}